# list of etcd endponit URLs
endpoints:
  - http://localhost:2379

# username/password for etcd authentication
username: xxxx
password: zzzz

# use client certificate if needed
tls-cert-file: /etc/etcdpasswd/etcd.crt
tls-key-file: /etc/etcdpasswd/etcd.key
